<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>
<%= link_to 'New category', new_category_path %>
<% if logged_in? %>
	<%= link_to "log out", logout_path, method: "delete" %>
<% else %>
	<%= link_to 'log in', login_path %>
<% end %>
	<% @articles.each do |article| %>
		<%= render 'shared/article',  article: article %>
	<% end %>