
<div class="row">
	<ul class="inline-list right">
		<% if logged_in? %>
			<li><%= link_to "log out", logout_path, method: "delete" %></li>
			<li><%= link_to current_user.name, user_path(current_user) %></li>
			<li><%= link_to 'New article', new_article_path %></li>
			<li><%= link_to 'New category', new_category_path %></li>
		<% else %>
			<li><%= link_to 'log in', login_path %></li>
			<li><%= link_to 'Sign up', new_user_path %></li>
		<% end %>
	</ul>
</div>
<div class="row">
	<% @articles.each do |article| %>
		<%= render 'shared/article',  article: article %>
	<% end %>
</div>